* {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    width: 60%;
}

.heading {
    margin-top: 100px;
    height: 100px;
    border: solid 5px black;
}

h1 {
    font-size: 32px;
    text-align: center;
}

main {
    text-align: center;
    border: solid grey 2px;
}

main p {
    padding: 25px;
}

button {
    color: white;
    background-color: rgb(40, 39, 41);
    margin-top: 20px;
}

fieldset {
    border: none;
}

.result {
    background-color: green;
    width: 150px;
    margin: 20px auto 0 auto;
}

label {
    display: inline-block;
}