* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    background-image: url("images/Golf\ Course1.svg");
    background-color: #fffbca;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    max-width: 750px;
}



.heading {
    color: #FFFFFF;
    margin-top: 65px;
    height: 80px;
    border: solid 5px #ffcf79;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #246c37;
}

h1 {
    font-size: 45px;
    text-align: center;
    font-weight: lighter;
}

main {
    text-align: center;
    background:  linear-gradient(
        rgba(29, 46, 27, 0.726), 
        rgba(124, 122, 122, 0.849)
      );
}

main p, legend {
    font-size: 20px;
    padding: 25px;
    color: white;
    margin: 0px;
}

.start, .go, .submit, .restart {
    color: white;
    background-color: #246c37;
    margin: 15px;
    padding: 10px;
    font-family: 'Righteous', cursive;
}

.go, .submit {
float: right;
}

fieldset {
    border: none;
}

.result {
    background-color: green;
    width: 150px;
    margin: 20px auto 0 auto;
}

.head-logo {
    height: 55px;
    padding-left: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    padding: 2px 25px;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    display: block;
    color: white;
    background-color: #3a3b3b;
}

.selected {
    background-color: #44c1c3;
}

.not-visible {
    display: none;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.correct-answer {
    background-color: #246c37;
}

.incorrect-answer {
    background-color: #f05352;
}

.scoreboard {
    background-color: #3e8941;
    color: white;
    padding: 10px;
    border: solid 5px #ffcf79;
    border-top: hidden;
}

.feedback {
    margin-top: 25px;
    color: white;
}

.question {
    text-align: left;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 25px;
    }

    .heading {
       height: 50px;
       margin-top: 0px;
    }

    main {
        width: 100%;
    }

    main p {
        font-size: 16px;
        font-weight: 100;
    }

    .head-logo {
        height: 35px;
        padding-left: 10px;
    }

}

